[submodule "inference"]
	path = inference
	url = git@github.com:LeslieKid/vllm-parathinker.git
[submodule "train/LLaMA-Factory"]
	path = train/LLaMA-Factory
	url = https://github.com/LeslieKid/LLaMA-Factory.git
	branch = main
[submodule "train/transformers"]
	path = train/transformers
	url = https://github.com/LeslieKid/transformers.git
	branch = main
